// United 3.3.5
// Bootswatch
// -----------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
//@import "variables.less"; 
@import "assets/less/bootswatch.less"; 
// Navbar =====================================================================

.navbar {
  background: transparent linear-gradient(0deg, @navbar-default-bg, #DB5945) repeat scroll 0% 0%;
  &-default {
    .badge {
      background-color: #fff;
      color: @navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: @navbar-inverse-bg;
    }
  }
}

@media (max-width: @grid-float-breakpoint-max) {

  .navbar {

    .dropdown-menu {
      a {
        color: #fff;
      }
    }
  }
}


// Buttons ====================================================================

.showfiles-button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  z-index: 100;
  font-weight: bold;
  background-image: url("assets/img/clip.png");
  //border-radius: 80%;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.showfiles-button:hover{
  background-size: 30px;
}
.showfiles-button:active{
  background-size: 26px;
}

// Lables =====================================================================



// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

